.caja-carrito {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
    border: #000 solid;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
}

#lista-carrito {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#total-carrito {
    white-space: nowrap;
}

.caluga-carta-item {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.caluga-carta-item img {
    width: 100px;
    height: auto;
    flex-shrink: 0;
}

#btn-vaciar-carrito{
    box-sizing: border-box;
    width: 180px;
    height: 45px;
    background-color: #696969;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    flex-shrink: 0;
}

#btn-vaciar-carrito:hover {
    background-color: #8f2e2e;
}

@media (max-width: 700px) {
    .contenedor_carta {
        flex-direction: column;
        align-items: center;
    }

    .caja-carrito {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .caluga-carta-item {
        flex-direction: column;
        text-align: center;
    }

    .caluga-carta-item img {
        width: 80px;
    }

    #total-carrito {
        white-space: normal;
        text-align: center;
    }

    #btn-vaciar-carrito {
        width: 100%;
    }
}
